In [7]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split

sheriff_df = pd.read_csv("LA_SHERIFF__CRIMES_-_LAST_12_MONTHS.csv")
sheriff_df.head()

,CRIME_DATE,CRIME_YEAR,CRIME_CATEGORY_NUMBER,CRIME_CATEGORY_DESCRIPTION,STATISTICAL_CODE,STATISTICAL_CODE_DESCRIPTION,VICTIM_COUNT,STREET,CITY,STATE,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,6,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...",1,44240 4TH ST E,LANCASTER,CA,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
1,10/09/2016 01:10:00 PM,2016,23,VEHICLE / BOATING LAWS,252,VEHICLE AND BOATING LAWS: Felony,1,610 W PEACH ST,COMPTON,CA,90222.0,33.905762,-118.235033,N,3803,CA01900V1,TRAP,17945511,"610 W PEACH ST\nCOMPTON, CA 90222\n(33.9057622..."
2,07/30/2017 12:07:00 PM,2017,6,LARCENY THEFT,384,"THEFT, PETTY: From Auto (Except Parts/Accessor...",1,1400 JELLICK AVE,ROWLAND HEIGHTS,CA,91748.0,33.992394,-117.900487,N,2931,CA0190020,WALNUT,18284061,"1400 JELLICK AVE\nROWLAND HEIGHTS, CA 91748\n(..."
3,06/18/2017 11:06:43 AM,2017,23,VEHICLE / BOATING LAWS,255,VEHICLE AND BOATING LAWS: Misdemeanor,1,NaN,NaN,NaN,NaN,NaN,NaN,N,1714,CA0190017,LOMITA,18242191,NaN
4,08/06/2017 05:08:00 AM,2017,5,BURGLARY,65,"BURGLARY, RESIDENCE: Day, Entry No Force",1,38120 25TH ST E,PALMDALE,CA,NaN,34.575819,-118.086240,N,2608,CA01900W9,PALMDALE,18290960,"38120 25TH ST E\nPALMDALE, CA\n(34.57581869898..."

## Create dataframes

In [16]:
X_crime_feature_cols = ['CRIME_DATE', 'CRIME_YEAR', 'LATITUDE', 'LONGITUDE']
sheriff_df = sheriff_df[pd.notnull(sheriff_df['LATITUDE'])]
X_pre = sheriff_df[X_crime_feature_cols]
y_pre = sheriff_df['CRIME_CATEGORY_DESCRIPTION']

X_pre.head()
X_pre.shape

(161431, 4)

## Delete rows with missing data

In [17]:
def findError(x):
    if (not x['CRIME_DATE']  or math.isnan(x['CRIME_YEAR'])  or math.isnan(x['LATITUDE']) or  math.isnan(x['LONGITUDE'])):
        return 1
    else:
        return 0

In [18]:
# # for x,y in X_pre.iterrows():
# #     print(findError(y))

# X_new = pd.DataFrame(columns=['CRIME_DATE', 'CRIME_YEAR', 'LATITUDE','LONGITUDE'])

# for x,y in X_pre.iterrows():
#     if findError(y) == 0:
#         X_new.append(y)
# #this takes a long long long time. could there be a faster way? 
# print(X_new.head())

In [19]:
#this command copies a new dataframe into X_pre where latitude is not null
X_pre = X_pre[pd.notnull(X_pre['LATITUDE'])]
print(X_pre)

                    CRIME_DATE  CRIME_YEAR   LATITUDE   LONGITUDE
0       01/08/2017 11:01:30 AM        2017  34.686938 -118.123960
1       10/09/2016 01:10:00 PM        2016  33.905762 -118.235033
2       07/30/2017 12:07:00 PM        2017  33.992394 -117.900487
4       08/06/2017 05:08:00 AM        2017  34.575819 -118.086240
8       07/21/2017 10:07:00 AM        2017  33.891167 -118.103922
10      12/06/2016 06:12:00 AM        2016  34.124928 -117.812606
18      06/28/2017 11:06:00 AM        2017  34.049367 -118.058705
52      10/15/2016 03:10:00 PM        2016  33.859141 -118.047135
55      05/17/2017 12:05:00 AM        2017  33.915402 -118.367745
61      06/14/2017 12:06:00 PM        2017  34.686198 -118.156805
64      03/09/2017 02:03:00 AM        2017  33.856732 -118.121725
73      05/22/2017 03:05:00 PM        2017  34.708824 -118.123362
74      11/23/2016 10:11:00 PM        2016  33.922662 -118.268305
86      05/01/2017 08:05:00 PM        2017  34.021920 -118.164545
90      08/15/2017 04:08:00 AM        2017  34.551726 -118.088515
102     04/14/2017 01:04:00 PM        2017  34.117317 -118.061794
103     09/23/2017 04:09:00 PM        2017  34.059141 -118.231065
112     02/09/2017 03:02:00 PM        2017  34.091696 -118.345911
131     05/10/2017 11:05:00 PM        2017  34.060399 -118.208807
156     06/20/2017 05:06:00 AM        2017  33.794648 -118.318270
158     04/11/2017 05:04:00 PM        2017  33.902424 -118.057771
178     02/17/2017 01:02:00 AM        2017  34.059269 -118.231487
200     01/15/2017 08:01:00 AM        2017  34.378288 -118.529950
202     11/03/2016 06:11:00 PM        2016  33.917201 -118.072647
210     11/03/2016 04:11:00 AM        2016  34.704534 -118.138322
213     04/20/2017 06:04:00 PM        2017  33.898718 -118.242476
215     04/19/2017 06:04:00 PM        2017  33.946285 -118.300058
219     11/16/2016 06:11:00 AM        2016  33.897098 -118.243869
227     07/31/2017 03:07:00 AM        2017  33.861997 -118.077126
230     04/24/2017 05:04:00 PM        2017  34.059269 -118.231487
...                        ...         ...        ...         ...
168708  08/26/2017 04:08:00 PM        2017  34.696893 -118.121571
168709  06/05/2017 10:06:00 AM        2017  34.560194 -118.063588
168710  12/19/2016 10:12:00 AM        2016  34.568962 -118.020870
168711  09/13/2017 10:09:30 PM        2017  34.097889 -118.074046
168712  05/25/2017 04:05:00 PM        2017  33.873982 -118.248679
168713  03/04/2017 02:03:00 PM        2017  33.978670 -118.442936
168714  08/24/2017 10:08:00 PM        2017  34.021959 -118.297602
168715  02/19/2017 02:02:00 PM        2017  34.691717 -118.097755
168716  06/26/2017 05:06:00 PM        2017  33.899944 -118.218472
168717  12/02/2016 04:12:00 AM        2016  33.994957 -117.908543
168718  07/05/2017 03:07:00 PM        2017  33.853336 -118.146930
168719  09/16/2017 12:09:00 AM        2017  34.001540 -117.918335
168720  10/16/2016 04:10:00 AM        2016  34.089067 -118.377862
168721  08/22/2017 10:08:00 AM        2017  34.698823 -118.161048
168722  03/17/2017 08:03:00 PM        2017  34.703952 -118.142977
168723  12/30/2016 02:12:00 PM        2016  33.872969 -118.081699
168724  01/31/2017 06:01:00 AM        2017  33.961773 -118.353334
168725  07/27/2017 08:07:00 AM        2017  33.988682 -118.107232
168726  05/26/2017 11:05:00 PM        2017  33.986869 -117.905565
168727  06/05/2017 02:06:48 AM        2017  33.808015 -118.263190
168728  12/19/2016 11:12:30 PM        2016  34.445339 -118.380061
168729  07/04/2017 02:07:00 AM        2017  34.090014 -118.374679
168730  03/28/2017 05:03:00 PM        2017  33.991325 -118.185181
168731  10/17/2016 12:10:00 AM        2016  34.027149 -118.146998
168732  10/05/2016 03:10:00 AM        2016  34.113523 -118.183566
168733  04/30/2017 06:04:00 PM        2017  33.955538 -118.183934
168734  11/21/2016 03:11:00 AM        2016  34.675329 -118.140723
168735  11/29/2016 12:11:00 PM        2016  34.415913 -118.484211
168736  05/24/2017 05:05:15 PM        2017  33.797342 -118.275085
168737  06/27/2017 02:06:00 PM        2017  34.444101 -118.511228

[161431 rows x 4 columns]

# Now that we have all NaN values removed...
## We need to split the dataset into training and testing

In [21]:
X_Train, X_test, y_Train, y_test = train_test_split(X_pre, y_pre, test_size = 0.3, random_state=3)
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 3)
print(y_pre.shape)
print(X_pre.shape)

(161431,)
(161431, 4)